<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="plc_control.yaml"/>
    <node pkg="plc_control" type="plc_control.py" name="plc_control_node" respawn="true" respawn_delay="5" output="screen">
        <rosparam file="$(find plc_control)/params/$(arg param_name)" command="load" />
    </node>
</launch>