<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="steering_control_system.yaml"/>
    <node pkg="steering_control_system" type="steering_control_system.py" name="steering_control_system_node" respawn="true" respawn_delay="5" output="screen">
        <rosparam file="$(find steering_control_system)/params/$(arg param_name)" command="load" />
    </node>
</launch>