<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="twist_converter.yaml"/>
    <node pkg="twist_converter" type="twist_converter_ackermann.py" name="twist_converter_node" respawn="true" respawn_delay="5" output="screen">
        <rosparam file="$(find twist_converter)/params/$(arg param_name)" command="load" />
    </node>
</launch>
