<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="smooth_vel.yaml"/>
    <node pkg="smooth_vel" type="s-curve_acc.py" name="smooth_vel_node" respawn="true" output="screen">.
        <rosparam file="$(find smooth_vel)/params/$(arg param_name)" command="load" />
        <remap from="cmd_vel" to="nav_vel"/>
        <remap from="cmd_vel_smooth" to="nav_vel_smooth"/>
    </node>
</launch>
