<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="receive_encoder.yaml"/>
    <node pkg="receive_encoder" type="receive_encoder.py" name="receive_encoder_node" respawn="true" respawn_delay="5" output="screen">
        <rosparam file="$(find receive_encoder)/params/$(arg param_name)" command="load" />
    </node>
</launch>
