<?xml version="1.0"?>
<launch>

    <node name="move_base" pkg="move_base" type="move_base"  output="screen" respawn="true" respawn_delay="5">
        <rosparam command="load" file="$(find kubo_launcher)/params/costmap_common_params.yaml" ns="global_costmap" />
        <rosparam command="load" file="$(find kubo_launcher)/params/costmap_common_params.yaml" ns="local_costmap" />

        <rosparam command="load" file="$(find kubo_launcher)/params/costmap_converter_params.yaml" />
        <rosparam command="load" file="$(find kubo_launcher)/params/move_base_params.yaml" />

        <rosparam command="load" file="$(find kubo_launcher)/params/global_costmap_params.yaml" />
        <rosparam command="load" file="$(find kubo_launcher)/params/local_costmap_params.yaml" />

        <rosparam command="load" file="$(find kubo_launcher)/params/base_global_planner_params.yaml" />
        <rosparam command="load" file="$(find kubo_launcher)/params/base_local_planner_params.yaml" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>   
        <remap from="cmd_vel" to="nav_vel"/>   
    </node>

</launch>