<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- static_tf2_broadcast -->
    <include file="$(find static_tf2_broadcast)/launch/ackermann_static_broadcast.launch" />
    
    <!-- Ublox gps front -->
    <include file="$(find ublox_gps)/launch/ublox_gps_zed_f9p_front.launch"/>

    <!-- rslidar -->
    <include file="$(find rslidar_sdk)/launch/start.launch"/>

    <!-- ray ground rslidar -->
    <include file="$(find launchers)/robot/kubo/ray_ground_rslidar/ray_ground_rslidar_front.xml"/>
    <include file="$(find launchers)/robot/kubo/ray_ground_rslidar/ray_ground_rslidar_back.xml"/>

    <!-- pointcloud 2 laserscan -->
    <include file="$(find launchers)/robot/kubo/pointcloud_to_laserscan/pointcloud_to_laserscan_front.xml"/>
    <include file="$(find launchers)/robot/kubo/pointcloud_to_laserscan/pointcloud_to_laserscan_back.xml"/>
    
    <!-- merger laser -->
    <include file="$(find launchers)/robot/kubo/laserscan_multi_merger/laserscan_multi_merger.xml"/>

    <!-- rf2o -->
    <include file="$(find launchers)/robot/kubo/rf2o/rf2o_laser_odometry_front.xml"/>
    <include file="$(find launchers)/robot/kubo/rf2o/rf2o_laser_odometry_rear.xml"/>

    <!-- imu tools -->
    <!-- <include file="$(find launchers)/robot/kubo/imu_tool/imu_filter_madgwick.xml"/> -->
    <include file="$(find launchers)/robot/kubo/imu_tool/complementary_filter.xml"/>
    
    <!-- scan_matcher -->
    <include file="$(find launchers)/robot/kubo/laser_scan_matcher/laser_scan_matcher.xml"/>
    
    <!-- main_control -->
    <include file="$(find main_control)/launch/start_control.launch"/>
    
    <!-- robot_localization -->
    <include file="$(find launchers)/robot/kubo/robot_localization/dual_ekf_navsat_outdoor.xml"/>
    
    <!-- Map_server -->
    <include file="$(find launchers)/robot/kubo/map_server/map_server.xml"/>
  
    <!-- amcl -->
    <include file="$(find launchers)/robot/kubo/amcl/amcl_diff.xml"/>

    <!-- Move_Base -->
    <include file="$(find launchers)/robot/kubo/move_base/move_base.xml"/>
    
    <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find launchers)/rviz/config_sensor.rviz"/>
</launch>