<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- static_tf2_broadcast -->
    <include file="$(find static_tf2_broadcast)/launch/ackermann_static_broadcast.launch"/>
    <!-- main_control -->
    <include file="$(find main_control)/launch/start_control.launch"/>
    <!-- Ublox gps front -->
    <include file="$(find ublox_gps)/launch/ublox_gps_zed_f9p_front.launch"/>
    <!-- <include file="$(find ublox_gps)/launch/ublox_gps_zed_f9p_rear.launch"/> -->
    <!-- rslidar -->
    <include file="$(find rslidar_sdk)/launch/start.launch"/>
    <!-- ray ground rslidar -->
    <include file="$(find launchers)/node/ray_ground_rslidar/ray_ground_rslidar_front.xml"/>
    <include file="$(find launchers)/node/ray_ground_rslidar/ray_ground_rslidar_back.xml"/>
    <!-- pointcloud 2 laserscan -->
    <include file="$(find launchers)/node/pointcloud_to_laserscan/pointcloud_to_laserscan_front.xml"/>
    <include file="$(find launchers)/node/pointcloud_to_laserscan/pointcloud_to_laserscan_back.xml"/>
    <!-- merger laser -->
    <include file="$(find launchers)/node/laserscan_multi_merger/laserscan_multi_merger.xml"/>
    <!-- Map_server -->
    <include file="$(find launchers)/node/map_server/map_server.xml"/>
    <!-- amcl -->
    <include file="$(find launchers)/node/amcl/amcl_diff.xml"/>
    <!-- robot_localization -->
    <include file="$(find launchers)/node/robot_localization/dual_ekf_navsat_outdoor.launch"/>
</launch>