<?xml version="1.0"?>
<launch>
    <arg name="param_name" default="velocity_control_system.yaml"/>
    <node pkg="velocity_control_system" type="velocity_control_system.py" name="velocity_control_system_node" respawn="true" respawn_delay="5" output="screen">
        <rosparam file="$(find velocity_control_system)/params/$(arg param_name)" command="load" />
    </node>
</launch>
